* {
    border: 0;
    margin: 0;
    list-style: none;
}

$faceColor: red;
$faceHoverColor: blue;
$bgColor: green;

@mixin hoverCoolYo {
    cursor: default;
    color: $faceColor; 
    background-color: none;
    border: solid 3px gray;
    transition: ease-in-out 1s;
    &:hover {
        color: $faceHoverColor;
        background-color: $bgColor;
        transition: ease-in-out 0.5s;
    }
}

body {
    //z-index: 10;
    //background-image: url(title.ico);
    //background-position: right;
    //background-size: cover;
    //background-repeat: no-repeat;
}

h1, h2, h3 {
    color: white;
}

ul {
    display: inline-block;
}

li {
    @include hoverCoolYo();
    & + li{
        border-top: none;
    }
    
}

.grid {
    display: grid;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    grid-template: 20% 70% 10% / repeat(12, 1fr);
}

.box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
  } 

/*.myvideo{
    position: relative;
    padding-bottom: 56.25%;
	padding-top: 0px;//30px;
	height: 0;
	overflow: hidden;
}*/

@media (max-width: 767px) {
    h1, h2, h3 {
        color: black;
    }
}
