* {
    border: 0;
    margin: 0;
    list-style: none;
}

$color: red;

@mixin hoverYo {
    &:hover {
        font-size: 4rem;
        color: blue;
        transition: ease-in-out 0.5s;
    }
}

h1 {
    color: $color;
    @include hoverYo();
}